<!DOCTYPE html>
<html>
  <title>{% block title %}{{ title }} - My Site{% endblock %}</title>

  <head>
    <link rel="stylesheet" href="{{ base_url }}/styles.css"></link>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="bg-gray-900 w-full px-4 py-2">
      <div class="w-full flex justify-start">
        <a class="text-white underline" href="{{ base_url }}/index.html">Home</a>
      </div>
    </nav>
    <main class='p-4'>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
