<html>
  <title>
    {{ title }}
  </title>

  <head>
    <script src='https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp'></script>
  </head>

  <body class='flex justify-center'>
    <div>
      <h1>Posts</h1>

      <ul>
        {% for p in posts %}
           <li>
             <a href="{{ base_url }}/{{ p.filename.display() }}">
               {{ p.post.metadata.title }}
             </a>
           </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
