{% extends "root.html" %}

{% block title %}{{ config.blog_title }}{% endblock %}

{% block content %}
  <div class="w-full flex justify-center my-8">
    <div class="w-full">
      <h1 class="text-4xl font-bold">
        {{ config.blog_title }}
      </h1>

      <hr class="mt-8 mb-4" />

      <ul class="space-y-4 w-full">
        {% for p in posts %}
        <div class="p-2 rounded-md hover:bg-gray-100">
           <a href="{{ config.base_url }}/{{ p.filename.display() }}">
             <li>
               <span class="text-xl font-bold">{{ p.post.metadata.title }}</span>

               <p class="text-sm">
                 {{ p.post.metadata.format_date() }}, {{ p.post.reading_time }} {% if p.post.reading_time == 1 %} minute {% else %} minutes {% endif %} read
               </p>

               <p class="mt-2">
                 {{ p.description }}
               </p>

              <div class="space-x-4 my-2">
                {% for tag in p.post.metadata.tags %}
                  <span class="px-2 py-1 bg-gray-300 rounded-md"> {{ tag }} </span>
                {% endfor %}
              </div>
             </li>
           </a>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
