{% extends "root.html" %}

{% block title %}{{ post.post.metadata.title }} - {{ config.blog_title }}{% endblock %}

{% block content %}
  <div class="flex flex-col items-center">
    <article class='prose my-8'>
      <h1 class="!mb-2">
        {{ post.post.metadata.title }}
      </h1>

      <p>
        <span class="font-bold">
          {{ authors }}
        </span> on {{ post.post.metadata.format_date() }}
      </p>

      <div class="space-x-4">
        {% for tag in post.post.metadata.tags %}
          <span class="px-2 py-1 bg-gray-300 rounded-md"> {{ tag }} </span>
        {% endfor %}
      </div>

      {% match toc %}
        {% when Some with (toc) %}
          <div class="my-8">
            {{ toc }}
          </div>

        {% when None %}
      {% endmatch %}

      <div class="mt-8">
        {{ post.rendered_html }}
      </div>
    </article>
  <div>
{% endblock %}

