<!DOCTYPE html>
<html>
  <title>{% block title %}{{ title }} - {{ config.blog_title }}{% endblock %}</title>

  <head>
    <link rel="stylesheet" href="{{ config.base_url }}/styles.css"></link>
    {% block head %}{% endblock %}
  </head>

  <body>
    {% if config.is_dev_server %}
      <script>
         var socket = new WebSocket("ws://localhost:7000/ws", "handshake");

         socket.onmessage = function(event) {
           console.log(event);
           location.reload();
         }
      </script>
    {% endif %}
    <nav class="bg-gray-200 w-full px-4 py-2">
      <div class="w-full flex">
          <div class="flex mr-auto space-x-6">
            <a class="text-black font-bold hover:underline" href="{{ config.base_url }}/index.html">Home</a>
            <a class="text-black font-bold hover:underline" href="{{ config.base_url }}/tags.html">Tags</a>

            <button>
              Search
            </button>

            {% for link in config.extra_links_start %}
              <a class="text-black font-bold hover:underline" href="{{ link.href }}">{{ link.name }}</a>
            {% endfor %}
          </div>

          <div class="flex space-x-6">
            {% for link in config.extra_links_end %}
              <a class="text-black font-bold hover:underline" href="{{ link.href }}">{{ link.name }}</a>
            {% endfor %}

            {% if config.enable_rss %}
              <a class="text-black font-bold hover:underline" href="{{ config.base_url }}/atom.xml">RSS</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <main class="p-4 w-full flex justify-center">
      <div class="w-[40vw]">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
